

html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    background: #E8D5D1;
    font-family: 'Montserrat', 'Arial', 'Tahoma', sans-serif;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    font-family: 'Montserrat', 'Arial', 'Tahoma', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#container, #chart2 {
  max-width: 100%;
}

@media screen and (max-width: 650px) {
    #container {
      display: flex;
    }
  }
